* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2947;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Header navigation bar*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 180px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
} 

.header-links {
    display: flex;
    gap: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 180px;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}

.header-info-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 500;
}

.header-info-text {
    color: bisque;
    font-size: 16px;
}

.signup-btn {
    background-color: aquamarine;
    padding: 8px 16px;
    border-radius: 16px;
}

img {
    max-width: auto;
    max-height: 220px;
    border-radius: 8px;
}

/*Links and Lists*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}